/* .scrollbar-y {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    transform: translateX();
}

.scrollbar-y::-webkit-scrollbar {
    width: 0;
    height: 100px;
    transform: translateX(50%);
}

.scrollbar-y::-webkit-scrollbar-track {
    background-color: var(--bs-light);
}

.scrollbar-y::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray);
} */

.scrollbar-y {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.scrollbar-y::-webkit-scrollbar {
    width: 0; 
    background: transparent; /* Optional for transparency */
    display: none;
}

.scrollbar-y::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent track */
}

.scrollbar-y::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent thumb */
    border-radius: 10px; /* Rounded thumb */
}