.notification-container .profiles img.user-pfp {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.notification-container .profiles img.reaction {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 0;
    z-index: 1;
    right: 5px;
}