.notification-container .profiles img.user-pfp {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.notification-container .profiles img.reaction {
    width: 18px;
    height: 18px;
    z-index: 1;
    transform: translateX(-8px) translateY(15px);
}